<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Top 3 Jogos
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true" color="light">
  <ion-card>
    <ion-card-header>
      <img src="https://www.leagueoflegends.com/static/open-graph-2e582ae9fae8b0b396ca46ff21fd47a8.jpg" alt="League Of Legends logo">
      <ion-card-title> League of Legends </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      League of Legends é um jogo eletrônico online gratuito, do gênero batalha multijogador, desenvolvido e publicado pela empresa americana Riot Games em 2009.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="https://play-lh.googleusercontent.com/CbjuUftiwUVIabFFXgxXCXhzg9ZFO7rpf8ytSTyTitF6SC2SN-pWXkqAEcxbR9w93Dk=w412-h220-rw" alt="Brawlhalla logo">
      <ion-card-title> Brawlhalla </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Brawlhalla é um jogo de luta de plataforma 2D gratuito desenvolvido pela Blue Mammoth Games e Ubisoft para Nintendo Switch, Xbox Series X | S, Xbox One, PS5, PS4, Steam, iOS e Android, com cross-play completo em todos plataformas.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="https://image.api.playstation.com/vulcan/img/cfn/11307uYG0CXzRuA9aryByTHYrQLFz-HVQ3VVl7aAysxK15HMpqjkAIcC_R5vdfZt52hAXQNHoYhSuoSq_46_MT_tDBcLu49I.png" alt="Minecraft logo">
      <ion-card-title> Minecraft </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Minecraft é um jogo eletrônico sandbox de sobrevivência criado pelo desenvolvedor sueco Markus "Notch" Persson e posteriormente desenvolvido e publicado pela Mojang Studios, cuja propriedade intelectual foi obtida pela Microsoft em 2014.
    </ion-card-content>
  </ion-card>

</ion-content>
